.container {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: Georgia, Cambria, Cochin, Times, "Times New Roman", serif;
  color: rgba(30, 145, 51, 0.809);
  text-decoration: underline;
}

.recipes {
  display: flex;
}
button {
  display: block;
}
